<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>{{cushion.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
	</head>
	<body>
		<div class="bar dark">
			<div class="container">
				<div id="sidebar">
					<a href="/" class="pull-left">
						<h1 id="title">
							{{cushion.title}}
						</h1>
					</a>
					<ul id="links" class="pull-right">
						<li><a href="/">About</a></li>
						<li><a href="/blog">Blog</a></a></li>
						<li><a href="/docs">Documentation</a></li>
						<li><a href="{{cushion.link}}">Download</a></li>
					</ul>
				</div>
			</div>
		</div>