{{> header}}
		<div class="bar dark">
			<div class="container">
				<div id="banner">
					<h1>Let us cushion the blow.</h1>
					<h3>Couchapps are easy, but Cushion makes them easier. Cushion is a quick and dirty boilerplate couchapp which uses things like bootstrap, server-side mustache templates and markdown to get you get a static website hosted on CouchDB up and running quickly.</h3>
					<a href="{{cushion.link}}"><button class="btn btn-primary btn-large">Download v0.1</button></a>
				</div>
			</div>
		</div>
		<div class="bar light">
			<div class="container">
				<div id="content">
					<h3>Cushion 101:</h3>
					<pre><code>git clone http://collectivecognition.github.com/cushion
cd cushion
couchapp init
couchapp push http://user:password@yoursite.com</code></pre>
				</div>
			</div>
		</div>
{{> footer}}